.filter-container {
  position: relative; /* Позиционирование для дочернего меню */
}

.filter-button {
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.filter-button:hover {
  background-color: #0056b3; /* Темнее при наведении */
}

.triangle {
  margin-left: 8px; /* Отступ для треугольника */
}

.filter-menu {
  position: absolute;
  top: 100%; /* Позиционирование под кнопкой */
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Убедитесь, что меню поверх других элементов */
}

.filter-menu ul {
  list-style-type: none; /* Убираем маркеры списка */
  padding: 10px;
  margin: 0;
}

.filter-menu li {
  padding: 5px 0; /* Отступы для опций */
  cursor: pointer;
}

.filter-menu li:hover {
  background-color: #f0f0f0; /* Фон при наведении на опцию */
}
