.container {
  flex: 1;
  padding: 0 20px;
  box-sizing: border-box;
  
  overflow-x: hidden; /* Скрываем горизонтальную прокрутку */
  overflow-y: scroll; /* Включаем вертикальную прокрутку */
  scrollbar-width: none; /* Скрываем скроллбар */
  -ms-overflow-style: none; /* Скрываем скроллбар */

  .header {
    width: calc(100% - 40px);
    height: 100px;
    padding-bottom: 25px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    box-sizing: border-box;

    span {
      font-weight: 600;
      font-size: 1.875rem;
      line-height: 125%;
      color: #191919;
    }

    .mobile {
      display: none;
    }
  }

  .content {
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.05);
    background: #fff;
    box-sizing: border-box;
    padding: 0 20px;

    .filters {
      width: 100%;
      height: 4.5rem;
      display: flex;
      align-items: center;
      gap: 10px;
      background: #fff;

      position: sticky;
      top: -1px;
      z-index: 2;

      .filter_button {
        border-radius: 10px;
        height: 2rem;
        background: #f3f3f3;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding: 0 15px 0 10px;

        span {
          font-weight: 500;
          font-size: 0.875rem;
          line-height: 129%;
          letter-spacing: 0.01em;
          text-align: center;
          color: #191919;
          white-space: nowrap;
        }

        &:hover {
          background: #e8e8e8;
        }
      }

      .active {
        background: #e8e8e8;
        border-radius: 10px 10px 0 0;
      }

      .typeFilter {
        position: relative;

        .filter_options {
          position: absolute;

          width: 10rem;
          height: 4.2rem;
          padding: 1rem;
          border-radius: 0 10px 10px 10px;
          background: #e8e8e8;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .custom_checkbox {
            width: 100%;
            height: 2rem;
            display: flex;
            align-items: center;
            cursor: pointer;
            position: relative;
            user-select: none;

            font-weight: 500;
            font-size: 1rem;
            line-height: 129%;
            letter-spacing: 0.01em;
            text-align: center;
            color: #191919;
          }
          
          .custom_checkbox input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }
          
          .custom_checkbox .checkmark {
            width: 1.125rem;
            height: 1.125rem;
            border: 2px solid #252525;
            border-radius: 4px;
            background-color: white;
            display: inline-block;
            margin-right: 0.5rem;
            position: relative;
            transition: background-color 0.2s;
          }
          
          .checkmark:hover {
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
          }

          .custom_checkbox input:checked + .checkmark {
            background-color: #252525;
          }

          .custom_checkbox .checkmark::after {
            content: '';
            position: absolute;
            display: none;
            left: 5.5px;
            top: 0.5px;
            width: 6px;
            height: 10px;
            border: solid white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
          }
          
          .custom_checkbox input:checked + .checkmark::after {
            display: block;
          }          
        }
      }

      .dateFilter {
        position: relative;

        .filter_options {
          position: absolute;

          display: flex;
          flex-direction: column;
          justify-content: space-between;

          width: 10rem;
          height: 4.2rem;
          padding: 1rem;
          border-radius: 0 10px 10px 10px;
          background: #e8e8e8;
        
          input {
            width: 9rem;
            padding: 0.2rem;
            border: 2px solid #252525;
            border-radius: 5px;
            font-size: 1rem;
            color: #191919;
          }
        
          input::placeholder {
            color: #949494;
          }
        }
      }
    }

    .transactions {
      width: 100%;
      display: flex;
      flex-direction: column;

      .transactionCard {
        width: 100%;
      }
    }
  }  
}

.container::-webkit-scrollbar {
  display: none; /* Полностью скрываем скроллбар */
}

@media (width <= 767px) {
  .container {
    padding: 0;
    .header {
      width: 100%;
      height: 66px;
      margin-top: 15px;
      padding: 0;
      align-items: center;
  
      .not_mobile {
        display: none;
      }
      .mobile {
        display: block;
      }
    }

    .content {
      padding: 0;  
      .filters {
        overflow-x: auto; // добавляем горизонтальную прокрутку
        -webkit-overflow-scrolling: touch; // добавляем плавный скролл на мобильных
        scrollbar-width: none; // скрываем полосу прокрутки для Firefox

        z-index: 2; // ставим фильтры выше других элементов
      
        &::-webkit-scrollbar {
          display: none; // скрываем полосу прокрутки для Chrome, Safari и Edge
        }

        &.active {
          height: 9rem; /* Установите максимальную высоту для открытого состояния, подгоните под ваши нужды */
          overflow: hidden; /* Скрываем переполнение */
          align-items: flex-start;
        }
      }
  
      .transactions {
        width: 100%;
        display: flex;
        flex-direction: column;
  
        .transactionCard {
          width: 100%;
        }
      }
    }  
  }
}
