.container {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  .header {
    width: 100%;
  }

  .main {
    height: calc(100% - 74px);
    padding: 0 30px;

    background: #f9f9f9;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    gap: 30px;

    .wrapper_left {
      flex: 1;
      height: calc(100% - 80px);
      margin: 40px 0;

      .left_menu {
        height: 100%;
        width: 69%;
        min-width: 170px;
        max-width: 380px;
  
        justify-self: start;
  
        background: #f4f4f4;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
  
        span {
          font-weight: 600;
          font-size: 1.875rem;
          line-height: 120%;
          color: #191919;
          opacity: 0.25;
          text-align: center;
        }      
      }
    }    

    .history {
      height: 100%;
      width: 45.3vw;
      min-width: 800px;
      box-sizing: border-box;
      display: flex;
      justify-self: center;
    }

    .wrapper_right {
      flex: 1;
      height: calc(100% - 80px);
      margin: 40px 0;

      .widgets {
        height: 100%;
        width: 90.3%;
        min-width: 170px;
        max-width: 500px;

        justify-self: end;

        background: #f4f4f4;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          font-weight: 600;
          font-size: 1.875rem;
          line-height: 120%;
          color: #191919;
          opacity: 0.25;
          text-align: center;
        }   
      }
    }
  }

  .lightning_button {
    display: none;
    position: fixed;
    bottom: 75px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
}

@media (width <= 1320px) {
  .container {
    .main {
      padding: 0 10px;
      gap: 0px;

      .wrapper_left {  
        .left_menu {
          width: 100%;     
        }
      }  
      .wrapper_right {
        .widgets {
          width: 100%;  
        }
      }
    }
  }
}

@media (width <= 1024px) {
  .container {
    height: 100svh;
    .main {
      padding: 0 20px;
      .wrapper_left {  
        display: none;
      }

      .history {
        height: 100%;
        width: 100vw;
        min-width: 300px;
      }

      .wrapper_right {
        display: none;
      }
    }
  }
}

@media (width <= 767px) {
  .container {
    .main {
      background: #fff;
      padding: 0 20px;
    }

    .lightning_button {
      display: block;
    }
  }
}
